
<div class= "row justify-content-center">
        <div class="card w-75 my-2">
        <div class= "card-header">
            <a href="/userpost/{{id}}">{{title}}</a>
            </div>
        <div class= "card-body">{{body}}</div>
        <div class= "card-body"> {{format_date createdAt}} | {{format_time createdAt}}</div>
            
        </div>
        </div>
        
    </div>