<div class= "row justify-content-center">
    
        <div class="card w-75 my-2">
        <a href= "/post/{{id}}">
        <div class= "card-header">{{title}}</div>
        </a>
        <div class= "card-body"> {{format_date createdAt}} | {{format_time createdAt}} | {{user.name}}</div>
        </div>
        
</div>