
{{#each posts as |post|}}

    <div class= "row justify-content-center">
        <div class="card w-75 my-2">
        <div class= "card-header">{{title}}</div>
        <div class= "card-body">{{body}}</div>
        <div class= "card-body"> {{format_date createdAt}} | {{format_time createdAt}} | {{user.name}}</div>
        </div>
        
    </div>

{{/each}} 


