
<h1 id= "user-greeting">Hello {{user.name}}!</h1>

<h1 id= "your-posts-title"> Your posts:</h1>
{{#each posts as |post|}}

    <div class= "row justify-content-center">
        <div class="card w-75 my-2">
        <div class= "card-header">{{title}}</div>
        <div class= "card-body">{{body}}</div>
        <div class= "card-body"> {{format_date createdAt}} | {{format_time createdAt}}</div>
        <div class= "card-footer">
            <div class= "row">
                <div class= "col-2">
                    <button class= "btn blue">
                    <a href="/edit-post" id="edit-post-button">Edit post</a>
                    </button>
                </div>
                <div class= "col-2">
                    <button class= "btn btn-danger">
                    <a href="/delete-post" id="delete-post-button">Delete post</a>
                    </button>
                </div>
            </div>
            
            
        </div>
        </div>
        
    </div>

{{/each}} 

<div class= "container options-area">
    <div class= "row">
        <div class ="col">
            <button class= "btn blue">
                <a href="/new-post" id="new-post-button">Make a new post</a>
            </button>
        </div>
        <div class ="col"></div>
    </div>
</div>


