<div class= "row">
    <div class= "col my-3">
        
        <h2>{{title}}</h2>
        <h1>{{body}}</h1>
        <h3>Post created on {{format_date createdAt}} at {{format_time createdAt}} by {{user.name}}</h3>
        </div>
    </div>