<div class = "container">
    <div class= "row justify-content-center p-3">
        <div class="card w-75 m-2">
                <div class= "card-header blue">{{posts.title}}</div>
                <div class= "card-body"> {{posts.body}}</div>
                <div class= "card-footer bg-secondary text-light"> {{format_date posts.createdAt}} | {{format_time posts.createdAt}} | {{posts.user.name}}</div>
        </div>
    </div>

    <div id = "comment-title"> Comments: </div>
    
    {{#each posts.comments as |comment|}}
    <div class= "row justify-content-center">
            <div class="card w-50 m-2">
                    <div class= "card-body"> {{comment.body}}</div>
                    <div class= "card-footer bg-secondary text-light"> {{format_date comment.createdAt}} | {{format_time comment.createdAt}} | {{comment.user.name}}</div>
            </div>
    </div>
    {{else}}
    <h1 id= "no-comments">No comments yet!</h1>
    {{/each}}

        <div class = "row justify-content-center my-4">
                <form class="form comment-form">
                        <div class="form-group">
                        <label for="comment-body">Enter a comment</label>
                        <input class="form-input" type="text" id="comment-body" />
                        </div>
                        <div class="form-group">
                        <button class= "btn blue w-50 comment-submit" type="submit">Submit</button>
                        </div>
                </form>
        </div>  
</div>


<script src="/js/comment.js"></script>